!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Admin
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'jt_admin/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'jt_admin/application', 'data-turbolinks-track': 'reload'

  %body
    #notice{style: 'display: none'}= flash[:notice]


    .navbar-fixed
      %nav.white
        .nav-wrapper
          = link_to 'Admin', jt_admin.root_path, class: 'black-text text-logo'
          %ul.right.hide-on-med-and-down
            %li
              = link_to '', method: :delete, class: 'black-text' do
                Logout
                %i.material-icons.right input

    .row.no-margin.full-height
      .col.s3.m2.no-padding.full-height.custom-color
        .collection.no-margin.custom-color#options

          = li_paint_slider 'ROOT', jt_admin.root_path, ['admin']

      .col.s9.m10.no-padding.full-height#main
        = yield
        %div{style: "height: 4.5em"}

